header {
    background-color: #3273dc;
    padding: 30px 25px
}

.is-white {
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    padding: 20px;
    flex: 20%;
}

section{
    padding: 20px;
    flex: 80%;
    min-height: 75vh;
}

.search-field {
    padding-bottom: 10px;
    border-bottom: 4px solid #444444;
}

.search-history {
    padding-top: 10px;
}

.top-padding { 
    padding-top: 10px;
}
